mixin info-card(data)
  .info-card(class= data.modifier ? `info-card--${data.modifier}` : null)
    if data.icon
      svg(width="50" height="50")
        use(xlink:href=`./assets/svg-sprite.svg#icon-${data.icon}`)
    .info-card__content
      span.info-card-title!= data.title
      span.info-card-text!= data.text

      if data.note
        small!= data.note

      if data.price
        .info-card-price
          span!= data.price
    if data.link
      a(href= data.link).info-card-bottom-link!= data.linkText
    if data.linkSvg
      a(href= data.linkSvg)
        svg(width="85" height="34")
          use(xlink:href=`./assets/svg-sprite.svg#icon-${data.linkText}`)
