mixin info-card(data)
  .info-card(class= data.modifier ? `info-card--${data.modifier}` : null)
    if data.icon
      svg(width="50" height="50")
        use(xlink:href=`./assets/svg-sprite.svg#icon-${data.icon}`)
    .info-card__content
        span.info-card-title!= data.title
        span.info-card-text!= data.text

        if data.link
          a(href= data.link)!= data.linkText

        if data.note
          small!= data.note
